body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	line-height: 120%;

}
table {
	table-layout: fixed;
	width: 100% !important;
}
td {
	position: relative;
	word-wrap: break-word;
	height: 100%;
	width: 100%;
}

input[type=radio] {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);

}

label {
    min-height: 100%; /* for the latest browsers which support min-height */
    height: 100%; /* the only height-related attribute that IE6 does not ignore  */
    width: 100%;
    font-size: 12pt;
    display: block;
	text-align: center;
}

input[type="radio"]:checked + label {
	display: block;
	color: white;
	text-align: center;
    background-color: #d80073; /* #d80073 jamk pinkki, #747679 jamk harmaa, #005a8c jamk sininen */
	word-wrap: break-word;
}

input[type="radio"] + label {
    background-color: white; 
}

#left {
	width: 650px;
	height: 150px;
	float: left;
}
#right {
	float: right;
}


#button_holder { text-align: center; }

button {
 color: #000;
 text-align: center;
 width: 300px;
 font-weight: bold;
 font-size: 150%;
 text-transform: uppercase;
 margin-left: auto;
 margin-right: auto;
}